/* start variables */
:root {
  --main-color: #19c8fa;
}
/* end variables */

/* start global rules */
* {
  /* to calculut the padding & margin & border from the elemint width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* import google font */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small from max to 768 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium from max to 992 */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large from max to 1200 */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start components */
.main-heading {
  text-align: center;
  padding-top: 100px;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -37px;
  background-color: white;
}
.main-heading p {
  line-height: 2;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: #777;
}
/* end components */

/* start header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  border-bottom: 1px solid transparent;
  z-index: 2;
}
header .container nav ul li a:active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: 0.3s;
}
header .container nav .form i:hover {
  color: var(--main-color);
}
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}
header .container nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
header .container nav .toggle-menu:hover + ul li a {
  padding: 15px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
/* end header */

/* start landing */
.landing {
  height: 100vh;
  background-color: #323232;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.landing .text {
  position: absolute;
  background-color: rgba(25, 201, 250, 0.4);
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    text-align: center;
  }
  .landing .change-background {
    display: none;
  }
  .landing .text .contant {
    max-width: 100%;
  }
}
.landing .text .contant {
  max-width: 500px;
}
.landing .text .contant h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .contant p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .l {
  left: 30px;
}
.landing .r {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
}
/* start landing */
