/* start variables */
:root {
  --main-color: #19c8fa;
}
/* end variables */

/* start global rules */
* {
  /* to calculut the padding & margin & border from the elemint width */
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  /* import google font */
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* small from max to 768 */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium from max to 992 */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large from max to 1200 */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* end global rules */

/* start components */
.main-heading {
  text-align: center;
}
.main-heading h2 {
  font-size: 40px;
  font-weight: normal;
  position: relative;
  text-transform: uppercase;
  margin-bottom: 70px;
}
.main-heading h2::before {
  content: "";
  position: absolute;
  width: 120px;
  height: 2px;
  background-color: #333;
  left: 50%;
  transform: translateX(-50%);
  bottom: -30px;
}
.main-heading h2::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 12px;
  height: 12px;
  border: 2px solid #333;
  border-radius: 50%;
  bottom: -37px;
  background-color: white;
}
.main-heading p {
  line-height: 2;
  width: 550px;
  margin: 0 auto 100px;
  max-width: 100%;
  color: #777;
}
/* end components */

/* start header  */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #a2a2a2;
  bottom: 0;
  left: 15px;
}
header .container img {
  height: 40px;
}
header .container nav {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
header .container nav ul {
  display: flex;
}
@media (max-width: 768px) {
  header .container nav ul {
    display: none;
  }
}
header .container nav ul li a {
  display: block;
  color: white;
  font-size: 14px;
  transition: 0.3s;
  padding: 40px 10px;
  position: relative;
  border-bottom: 1px solid transparent;
  z-index: 2;
}
header .container nav ul li a:active,
header .container nav ul li a:hover {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header .container nav .form {
  width: 40px;
  height: 30px;
  position: relative;
  margin-left: 30px;
  border-left: 1px solid white;
}
header .container nav .form i {
  color: white;
  position: absolute;
  font-size: 20px;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  transition: 0.3s;
}
header .container nav .form i:hover {
  color: var(--main-color);
}
header .container nav .toggle-menu {
  color: white;
  font-size: 22px;
}
header .container nav .toggle-menu:hover + ul {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
}
header .container nav .toggle-menu:hover + ul li a {
  padding: 15px;
}
@media (min-width: 768px) {
  header .container nav .toggle-menu {
    display: none;
  }
}
/* end header */

/* start landing */
.landing {
  height: 100vh;
  background-color: #323232;
  background-image: url(../images/landing.jpg);
  background-size: cover;
  position: relative;
}
.landing .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 60%);
}
.landing .text {
  position: absolute;
  background-color: rgba(25, 201, 250, 0.4);
  width: 55%;
  top: 50%;
  transform: translateY(-50%);
  padding: 50px;
  color: white;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    text-align: center;
  }
  .landing .change-background {
    display: none;
  }
  .landing .text .contant {
    max-width: 100%;
  }
}
.landing .text .contant {
  max-width: 500px;
}
.landing .text .contant h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .text .contant p {
  font-size: 14px;
  line-height: 2;
}
.landing .change-background {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #ddd;
}
.landing .l {
  left: 30px;
}
.landing .r {
  right: 30px;
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
}
/* start landing */

/* start Services */
.services {
  padding: 100px 0;
}
@media (min-width: 768px) {
  .services .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px;
  }
}
.services .container .srv-box {
  display: flex;
  text-align: center;
}
.services .container .srv-box i {
  margin-right: 50px;
  transition: 0.3s;
}
.services .container .srv-box i:hover {
  transform: scale(1.1);
}
@media (max-width: 767px) {
  .services .container .srv-box {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .services .container .srv-box i {
    margin: 0 0 30px;
  }
}
.services .container .srv-box h3 {
  margin-bottom: 30px;
  color: var(--main-color);
}
.services .container .srv-box p {
  line-height: 2;
  color: #777;
}
/* end Services */

/* start Design */
.Design {
  height: 600px;
  background-color: #323232;
  background-image: url(../images/design-features.jpg);
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.Design::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 60%);
}
.Design .image {
  position: relative;
  z-index: 2;
  text-align: center;
  flex: 1;
}
.Design .image img {
  position: relative;
  bottom: -150px;
}
.Design .text {
  background-color: rgba(25, 201, 250, 0.4);
  padding: 50px;
  color: white;
  flex: 1;
  z-index: 2;
}
.Design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.Design .text ul li {
  padding: 15px 0;
}
.Design .text ul li::before {
  font-family: "Font Awesome 5 Free";
  content: "\e163";
  font-weight: 900;
  margin-right: 20px;
  position: relative;
  top: 1px;
}
@media (max-width: 767px) {
  .landing .text {
    width: 100%;
    text-align: center;
  }
  .landing .change-background {
    display: none;
  }
  .landing .text .contant {
    max-width: 100%;
  }
  .Design .image {
    display: none;
  }
}
.landing .text .contant {
  max-width: 500px;
}
/* end Design */

/* start portfolio */
.portfolio {
  padding-top: 100px;
  padding-bottom: 100px;
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
  border-radius: 3px;
  transition: 0.2s;
}
.portfolio .shuffle li.active {
  color: white;
  background-color: var(--main-color);
  padding: 10px;
}
.portfolio .shuffle li:hover {
  color: white;
  background-color: var(--main-color);
}
.portfolio .imgs-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 60px;
}
.portfolio .imgs-container .box {
  flex-basis: 100%;
  position: relative;
  overflow: hidden;
}
.portfolio .imgs-container .box:hover .caption {
  bottom: 0;
}
.portfolio .imgs-container .box:hover img {
  transform: scale(1.1) rotate(4deg);
}
.portfolio .imgs-container .box img {
  max-width: 100%;
  transition: 0.3s;
}
@media (min-width: 768px) {
  .portfolio .imgs-container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .imgs-container .box {
    flex-basis: 25%;
  }
}
.portfolio .imgs-container .box .caption {
  position: absolute;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .imgs-container .box .caption h4 {
  font-weight: 500;
  margin-bottom: 10px;
}
.portfolio .imgs-container .box .caption p {
  color: var(--main-color);
  font-size: 13px;
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 20px;
  display: block;
  width: fit-content;
  margin: 35px auto;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.3s;
}
.portfolio .more:hover {
  background-color: rgba(25, 201, 250, 0.7);
  transform: scale(1.1);
  border-radius: 5px;
}
/* end portfolio */

/* start Video  */
.Video {
  position: relative;
}
.Video::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 60%);
}
.Video video {
  width: 100%;
}
.Video .text {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(25, 201, 250, 0.4);
  padding: 50px;
  text-align: center;
  color: white;
  flex: 1;
  z-index: 2;
}
@media (max-width: 767px) {
  .Video .text {
    height: 75%;
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  .Video .text button {
    transform: scale(0.7);
  }
  .Video .text h2 {
    font-size: 22px;
    margin-bottom: 10px;
  }
  .Video .text p {
    margin-bottom: 0;
  }
}
.Video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.Video .text p {
  margin-bottom: 20px;
}
.Video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* end Video */

/* start About */
.About {
  padding-top: 100px;
  overflow: hidden;
  text-align: center;
}
.About .container img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .About .container img {
    bottom: -60px;
    margin-top: -100px;
  }
}
/* end About */

/* start Statistics */
.Statistics {
  background-image: url(../images/stats.png);
  background-size: cover;
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}
.Statistics::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 70%);
}
.Statistics .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.Statistics .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.Statistics .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.Statistics .container .box p {
  font-size: 14px;
}
.Statistics .container .box {
  color: white;
  padding: 50px;
  background-color: rgba(25, 201, 250, 0.4);
  text-align: center;
}
@media (max-width: 767px) {
  .Statistics .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 767px) {
  .Statistics .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .Statistics .container .box {
    flex-basis: 25%;
  }
}
/* end Statistics */

/* start Our Skills */
.Our-Skills {
  padding-top: 100px;
  padding-bottom: 100px;
}
.Our-Skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .Our-Skills .container > div {
    flex-basis: 45%;
  }
}
.Our-Skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.Our-Skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.Our-Skills .testimonials .box {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
}
.Our-Skills .testimonials .box img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .Our-Skills .testimonials .box {
    flex-direction: column;
    text-align: center;
    position: relative;
  }
  .Our-Skills .testimonials .box img {
    margin: 0 auto 20px;
  }
}
.Our-Skills .testimonials .box .text {
  border-bottom: 1px solid #333;
  line-height: 1.8;
}
.Our-Skills .testimonials .box .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.Our-Skills .container .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.Our-Skills .container .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.Our-Skills .container .testimonials .bullets li.active {
  background-color: var(--main-color);
}
.Our-Skills .container .skills .prog-holder {
  margin-bottom: 50px;
}
.Our-Skills .container .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.Our-Skills .container .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.Our-Skills .container .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.Our-Skills .container .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.Our-Skills .container .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-color: black transparent transparent transparent;
  border-style: solid;
  border-width: 8px;
  right: -7px;
  top: -15px;
}
/* end Our Skills */

/* start quote */
.quote {
  background-image: url(../images/quote.jpg);
  background-size: cover;
  position: relative;
  padding: 100px 0;
  text-align: center;
  color: white;
}
.quote::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 75%);
}
.quote .container {
  position: relative;
}
.quote .container q {
  font-size: 30px;
  margin: 20px;
  display: block;
}
.quote .container span {
  display: block;
}
/* end quote */
